<!DOCTYPE html>
<html>
<head>
  <title>Server Information</title>
</head>
<body>
  <h1>Server Information</h1>
  <p><h2>Hostname: {{ ansible_hostname }}</h2></p>
  <p><h2>Private IP: {{ ansible_default_ipv4.address }}</h2></p>
  <p><h2>Timezone: Africa/Lagos</h2></p>
</body>
</html>

